.search-bar {
    position: relative;
    margin-bottom: 1.5rem;
}

.search-bar input {
    padding-left: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 100%;
}

.search-bar i {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
}